header{
    background-color:rgb(34, 146, 24);
    color: white(73, 70, 70);
    text-align: center;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container a{
    color:white;
    text-decoration:name;
    font-size: 20;
    padding: 5px;
}
.container a:hover{
    background-color:black ;
}

nav{
    background-color: rgba(57, 182, 41, 0.795);
    float:left;
    width: 20%;
    height: 800px;
}
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:rgb(226, 217, 225);
    font-size: 20px;
 
}
nav ul:hover{
    background-color:rgb(109, 103, 103);
    padding: 15px;
    text-align: center;

}
article{
    background-color: #c4e0c9;
    float:left;
    width: 75%;
    height: 800px;
    padding-left: 5%;
}
/*THIS CSS IS FOR FOOTER*/
footer{
    text-align: center;
    background-color: rgb(38, 148, 29);
    color: white;
}
footer div a:hover{
    text-decoration: none;
    padding: 20px;
    color: black;
    font-weight: bold;
}

 /*this css is for table*/
 table{
    width:50% ;
    border-collapse:collapse ;
    margin-bottom: 20px;
    background-color: white;
 }
 th {
    background-color: #045017;
    color: white;
 }
 .table_data{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
 }

 /*THIS IS THE STYLE FOR HTML LIST*/
 .firstColumn{
    float:left;
 }
 .SecondColumn{
    float:right;
 }

 body{
    font-family:Arial, Helvetica, sans-serif ;
    margin:20px;
 }
 dl{
    background-color: #045017;
    border:#fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 200px;
    margin: 0;
 }
 dt{
    font-weight: bold;
    color: rgb(222, 230, 227);
    margin-top: 10px;
 }
 dd{
    margin: 0 0 10px 20px;
    color: rgb(238, 248, 248);
 }